.emoji-mart-search,
.emoji-mart-bar {
    display: none;
}

.emoji-mart-emoji {
    cursor: pointer;

    &::before, span {
        pointer-events: none;
    }
}

.emoji-mart-category .emoji-mart-emoji:hover:before{
    background: #d1d1d1;
}