.Dialog {
    $self: &;
    height: 100%; 
    position: relative;

    &__messages {
        height: calc(100% - 160px);
        overflow-y: auto;
        padding: 20px;
        padding-bottom: 0;
        position: relative;
    }

    &__no-messages {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    &__messages::-webkit-scrollbar { width: 0; }
    &__messages { -ms-overflow-style: none; }
    &__messages { overflow: -moz-scrollbars-none; }

    .Message {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        position: relative;

        &__no-avatar {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }

        &__avatar {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 15px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            position: relative;
        }

        &__text {
            background: #448aff;
            padding: 10px;
            border-radius: 5px 5px 5px 0;
            box-shadow: 0 0 3px;
            color: white;
            font-size: 13px;
        }

        &__time {
            font-size: 12px;
            color: grey;
            margin-top: 7px;
        }

        &__is-check {
            width: 14px;
            position: absolute;
            bottom: 16px;
            right: calc(100% + 12px);
        }
    }

    .Message.me {
        display: flex;
        flex-direction: row-reverse;

        .Message__avatar {
            margin-right: 0; 
            margin-left: 15px;
        }

        .Message__content {
            align-items: flex-end;
        }

        .Message__text {
            background: white;
            border-radius: 5px 5px 0 5px ;
            color: black;
        }
    }

    
}  

.emoji-mart-search,
.emoji-mart-bar {
    display: none;
}

.emoji-mart-emoji {
    cursor: pointer;

    &::before, span {
        pointer-events: none;
    }
}

.emoji-mart-category .emoji-mart-emoji:hover:before{
    background: #d1d1d1;
}